<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.confress.lovewall">
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/wall"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="f7734e2c13bfada1a8dee9f43919ee43">

        </meta-data>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Activity.HomeActivity" android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity android:name=".Activity.RegisterActivity"></activity>
        <activity android:name=".Activity.FindPsdActivity"></activity>
        <activity android:name=".Activity.CharactersActivity"></activity>
        <activity android:name=".Activity.AnnomousActivity"></activity>
        <activity android:name=".Activity.MyWallActivity"></activity>
        <activity android:name=".Activity.MyTrickAcivity"></activity>
        <activity android:name=".Activity.MyCollectionActivity"></activity>
        <activity android:name=".Activity.UserSettingActivity"></activity>
        <activity android:name=".Activity.FirstUserSettingActivity"></activity>
        <activity android:name=".Activity.ContactUsActivity"></activity>
        <activity android:name=".Activity.CommentActivity"></activity>
        <activity android:name=".Activity.UserWallActivity"></activity>
        <activity android:name=".Activity.ChattingActivity" android:launchMode="singleTask"></activity>
        <activity android:name=".Activity.ShowChattingMsgActivity"></activity>
        <activity android:name=".Activity.NearByFriendActivity"></activity>



        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <service android:name="com.amap.api.location.APSService"></service>

        <service
            android:label="PushService"
            android:name="cn.bmob.push.lib.service.PushService"
            android:process="cn.bmob.push"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter>
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <receiver android:name=".BroadcastReceiver.MyPushMessageReceiver">
            <intent-filter >
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>

    </application>



</manifest>
